html,
body {
    margin: 0px;
    padding: 0px;
    background-image: url('https://picsum.photos/id/1019/1200/800');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.main {

    display: flex;

    height: 80vh;
    width: 100%;
    margin-left: 7%;

}

.left {
    flex: 1;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;

    display: flex;
    flex-direction: column;
    background: whitesmoke;

}

.header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background: black;
    color: white;
    font-size: 35px;
    font-weight: 900;
    border-top-left-radius: 15px;

}

.body {
    flex: 8;
    padding: 10%;
}

.right {
    flex: 1;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;


}

.upper {
    flex: 8;
    background-image: url('https://picsum.photos/id/1022/1200/800');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 15px;

}

.lower {
    flex: 1;
    background: black;
}

.container {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn {
    font-size: 20px;
    font-weight: 700;
}

#user {
    color: teal;
    font-size: 20px;
}

#pass {
    color: teal;
    font-size: 20px;
}

.display {
    margin-top: 5%;
}

